<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened class="side-menu">
        <div class="menu-header">
            <span class="menu-icon">🎮</span>
        </div>
        <mat-nav-list>
            <mat-list-item routerLink="/clientes" routerLinkActive="active" class="menu-item">
                <span class="menu-icon">🎮</span>
                <span class="menu-text">Clientes</span>
            </mat-list-item>
            <mat-list-item routerLink="/produtos" routerLinkActive="active" class="menu-item">
                <span class="menu-icon">🎮</span>
                <span class="menu-text">Produtos</span>
            </mat-list-item>
            <mat-list-item 
            class="menu-item" 
            [matMenuTriggerFor]="subMenu"
            (mouseenter)="menuTrigger.openMenu()"
            #menuTrigger="matMenuTrigger">
              <span class="menu-icon">🎮</span>
              <span class="menu-text">Componentes</span>
          </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content> 
</mat-drawer-container>

<mat-menu #subMenu="matMenu">
    <button mat-menu-item routerLink="/product-card" routerLinkActive="active">Componente 1</button>
    <button mat-menu-item routerLink="/componentes/component2">Componente 2</button>
    <button mat-menu-item routerLink="/componentes/component3">Componente 3</button>
</mat-menu>