<mat-card class="product-card">
    <ng-container *ngIf="!product.disponibilidade">
        <div class="sold-out-ribbon">ESGOTADO</div>
    </ng-container>

    <div class="image-container">
        <img mat-card-image [src]="product.imageUrl" alt="{{ product.nome }}">
        <ng-container *ngIf="isEditing">
            <div class="upload-placeholder" (click)="fileInput.click()">
                <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                <div class="upload-icon">
                    <mat-icon>cloud_upload</mat-icon>
                    <p>Clique para adicionar uma imagem</p>
                </div>
            </div>
        </ng-container>
    </div>

    <mat-card-content>
        <div class="d-flex gap-10 bottom-18">
            <ng-container *ngIf="isEditing; else showYear">
                <div class="ano-input-container">
                    <app-datepicker selectId="productYear" [(ngModel)]="product.ano" name="productYear"
                        labelText="Ano"></app-datepicker>
                </div>
            </ng-container>
            <ng-template #showYear>
                <div class="year-ribbon fs-12">{{ product.ano }}</div>
            </ng-template>

            <ng-container *ngIf="isEditing; else showName">
                <div class="nome-input-container">
                    <app-input selectId="productName" [(ngModel)]="product.nome" name="productName"
                        labelText="Nome"></app-input>
                </div>
            </ng-container>
            <ng-template #showName>
                <span>{{ product.nome }}</span>
            </ng-template>
        </div>

        <div class="d-grid bold">
            <div class="bottom-10">
                <ng-container *ngIf="isEditing; else showMark">
                    <app-dropdown selectId="productMark" [(ngModel)]="product.marca" name="productMark"
                        labelText="Marca" [options]="markOptions"></app-dropdown>
                </ng-container>
                <ng-template #showMark>
                    <div>{{ product.marca }}</div>
                </ng-template>
            </div>

            <div class="bottom-10 fs-12">
                <ng-container *ngIf="isEditing; else showKm">
                    <app-number-input inputId="productQuilometer" [(ngModel)]="product.quilometragem"
                        labelText="Km"></app-number-input>
                </ng-container>
                <ng-template #showKm>
                    <div class="d-flex">
                        <mat-icon>speed</mat-icon>
                        <span>{{ product.quilometragem }} KM</span>
                    </div>
                </ng-template>
            </div>

            <div class="fs-12">
                <ng-container *ngIf="isEditing; else showLocation">
                    <app-dropdown selectId="location" [(ngModel)]="product.localidade" name="location"
                        labelText="Localidade" [options]="locationOptions"></app-dropdown>
                </ng-container>
                <ng-template #showLocation>
                    <div class="d-flex">
                        <mat-icon>location_on</mat-icon>
                        <span>{{ product.localidade }}</span>
                    </div>
                </ng-template>
            </div>

            <div>
                <ng-container *ngIf="isEditing; else showPrice">
                    <app-number-input inputId="productPrice" [(ngModel)]="product.preco"
                        labelText="Preço"></app-number-input>
                </ng-container>
                <ng-template #showPrice>
                    <div>
                        <div class="fs-16">{{ product.preco | currency:'BRL' }}</div>
                    </div>
                </ng-template>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions class="actions-container">
        <ng-container *ngIf="isEditing; else showButtons">
            <button mat-raised-button color="primary" (click)="saveProduct()">Salvar</button>
        </ng-container>
        <ng-template #showButtons>
            <button mat-raised-button color="primary" (click)="addToCustomer(product)"
                [disabled]="product.disponibilidade === false">
                <mat-icon>add_shopping_cart</mat-icon>
                Selecionar Cliente
            </button>
            <button mat-icon-button (click)="edit()">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="eye-icon" mat-icon-button>
                <mat-icon>visibility</mat-icon>
            </button>
        </ng-template>
    </mat-card-actions>
</mat-card>