//cores normais
$black: black;
$red : red;
$white: white;

//cores personalizadas
$gray: #c5c6c7;
$blue-gray: #7C8894;
$very-light-gray: #fafafa;
$light-gray: #f1f1f1;
$dark-gray: #3a3a3a;
$charcoal-gray: #1f1f1f;
$cyan: #66fcf1;
$dusty-rose: #d199008c;
$burnt-orange: #ff6f00;
$translucent-white: rgba(255, 255, 255, 0.8);
$golden-yellow: #ffc107;
$bg-color: #1b1b1b;

//variaveis
$button-save: #3cb8b8;
$primary-background: linear-gradient(135deg, #000000, #1c1c1c);
$border: #cacaca;
$menu-header-background: #272727;
$border-color: #444;
$text-color-light: #616161;
$text-color-white: #fff;
$hover-background: #333;
$box-shadow: rgba(0, 0, 0, 0.3);
$transparent: rgba(255, 255, 255, 0.2);
$upload: rgba(138, 125, 52, 0.151);
$border-card-hover: #66fcf2a8;
$card-off: rgba(75, 30, 30, 0.5);