$primary-background: #ccc5db69;
$border: #cacaca;
$menu-header-background: #272727;
$border-color: #444;
$text-color-light: #bbb;
$text-color-white: #fff;
$hover-background: #333;
$menu-shadow: rgba(0, 0, 0, 0.5);