@use '@angular/material' as mat;
@include mat.core();

$Agendamento-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($Agendamento-theme);
}

html,
h1,
body {
  height: 100%;
  color: #000000;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}