<div class="menu-container">
    <div class="main-menu">
        <ul>
            <li *ngFor="let item of menuItems" (click)="selectMenu(item)">
                <div class="menu-item">
                    <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                    <span>{{ item.label }}</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="submenu" *ngIf="submenuOpen && selectedMenuTitle">
        <h3 class="fs-14 py-20 px-10">{{ selectedMenuTitle }}</h3>
        <ul>
            <li *ngFor="let subItem of activeSubmenu" (click)="navigateTo(subItem)">
                <div class="submenu-item">
                    <mat-icon *ngIf="subItem.icon">{{ subItem.icon }}</mat-icon>
                    <span>{{ subItem.label }}</span>
                </div>
            </li>
            <!-- <li (click)="closeSubmenu()">Voltar</li> -->
        </ul>
    </div>

    <div class="content" [class.submenu-open]="submenuOpen">
        <router-outlet></router-outlet>
    </div>
</div>