@import"../colors.scss";

html,
h1,
h2,
body {
    height: 100%;
    color: #000000;
}

span {
    color: $dark-gray;
    font-weight: bold;
}

button span {
    color: inherit;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.card-flex {
    margin: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
    gap: 40px
}

.margin-left {
    margin-left: auto;
    margin-right: 20px;
}

//margin-bottom
.py-10 {
    margin-bottom: 10px;
}

.py-18 {
    margin-bottom: 18px;
}

.py-24 {
    margin-bottom: 24px;
}

//gap
.gap-10 {
    gap: 10px;
}

//fonts
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

//grid
.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;

}

.grid-column-1 {
    grid-column: 1 / span 1;
}

.grid-column-2 {
    grid-column: 2 / span 1;
}