@import '../colors.scss';

.input-container,
.dropdown-container,
.datepicker-container {
    position: relative;
    width: 100%;
    max-width: 90%;
    margin: 10px 0;
    gap: 10px;

    input,
    select {
        width: 100%;
        padding: 10px 10px;
        font-size: 16px;
        background-color: $white;
        border: 1px solid $gray;
        border-radius: 8px;
        outline: none;
        transition: border-color 0.3s ease;
        line-height: 1.5;

        &:focus {
            border-color: $blue-gray;
        }

        &:focus+.label,
        &:not(:placeholder-shown)+.label {
            top: -18px;
            left: 5px;
            font-weight: bold;
            color: $blue-gray;
            font-size: 14px;
        }
    }

    .label {
        position: absolute;
        font-size: 16px;
        pointer-events: none;
        transition: all 0.3s ease;
        background-color: transparent;
    }
    
}