<mat-card class="product-card" [ngClass]="{'out-of-stock': product.stock === 0}">
    <div class="header-container">
        <div *ngIf="product.stock === 0" class="ribbon">Esgotado</div>
        <mat-card-title>
            <ng-container *ngIf="isEditing; else showName">
                <input matInput placeholder="Nome do Produto" [(ngModel)]="product.name">
            </ng-container>
            <ng-template #showName>{{ product.name }}</ng-template>
        </mat-card-title>
    </div>

    <div class="image-container">
        <ng-container *ngIf="isEditing; else showImage">
            <div class="upload-placeholder" (click)="fileInput.click()">
                <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                <div class="upload-icon">
                    <p>Clique para adicionar uma imagem</p>
                </div>
            </div>
        </ng-container>
        <ng-template #showImage>
            <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}">
        </ng-template>
    </div>

    <mat-card-content>
        <div class="info-container">
            <div class="info-item">
                <strong>Preço:</strong>
                <ng-container *ngIf="isEditing; else showPrice">
                    <input matInput type="number" placeholder="Preço" [(ngModel)]="product.price">
                </ng-container>
                <ng-template #showPrice>{{ product.price | currency:'BRL' }}</ng-template>
            </div>
            <div class="info-item">
                <strong>Estoque:</strong>
                <ng-container *ngIf="isEditing; else showStock">
                    <input matInput type="number" placeholder="Estoque" [(ngModel)]="product.stock">
                </ng-container>
                <ng-template #showStock>{{ product.stock }}</ng-template>
            </div>
            <div class="info-item">
                <strong>Modelo:</strong>
                <ng-container *ngIf="isEditing; else showModelo">
                    <input matInput placeholder="Modelo" [(ngModel)]="product.modelo">
                </ng-container>
                <ng-template #showModelo>{{ product.modelo }}</ng-template>
            </div>
            <div class="info-item">
                <strong>Ano:</strong>
                <ng-container *ngIf="isEditing; else showAno">
                    <input matInput type="number" placeholder="Ano" [(ngModel)]="product.ano">
                </ng-container>
                <ng-template #showAno>{{ product.ano }}</ng-template>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <ng-container *ngIf="isEditing; else showButtons">
            <button mat-raised-button color="primary" (click)="saveProduct()">Salvar</button>
        </ng-container>
        <ng-template #showButtons>
            <button mat-raised-button color="primary" (click)="addToCustomer(product)" [disabled]="product.stock === 0">
                <mat-icon>add_shopping_cart</mat-icon>
                Selecionar Cliente
            </button>
            <button mat-icon-button (click)="teste()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>visibility</mat-icon>
            </button>
        </ng-template>
    </mat-card-actions>
</mat-card>