.product-card {
    max-width: 300px;
    margin: 20px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.mat-card-title {
    font-weight: bold;
}

.mat-card-actions {
    display: flex;
    justify-content: flex-end;
}